/* -----------MAIN PAGE-------------- */
body{
    background-color: #252422;
}

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons{
    padding: 15px;
    width: 200px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: large;
}
.buttons:hover{
    background-color: #252422;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s;
}